<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <!-- <title>RF Switch Matrix Control</title> -->
   <!-- Latest compiled and minified CSS -->
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
   <!-- Optional theme -->
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->
   <!-- Latest compiled and minified JavaScript -->
   <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
</head>

<body>
   <h1>Relay Status</h1>
<!--   {% for pin in pins %} -->
   
         {% if (pins[pin].name == "relay1") and (pins[pin].state == true) %}
         <div class="row">
               <div class="col-sm-6"> <a href="/{{pin}}/on" class="btn btn-default" role="button">Relay 1 On</a> </div> 
         {% elif (pins[pin].name == "relay4") and (pins[pin].state == true) %}    
               <div class="col-sm-6"> <a href="/{{pin}}/on" class="btn btn-default" role="button">Relay 4 Off</a> </div>
         {% elif (pins[pin].name == "relay1") and (pins[pin].state != true) %}
               <div class="col-sm-6"> <a href="/{{pin}}/off" class="btn btn-primary" role="button">Relay 1 On</a> </div>  
         {% elif (pins[pin].name == "relay4") and (pins[pin].state != true) %}      
               <div class="col-sm-6"> <a href="/{{pin}}/off" class="btn btn-primary" role="button">Relay 4 On</a> </div>         
         </div>   

         {% elif (pins[pin].name == "relay2") and (pins[pin].state == true) %}
         <div class="row">
               <div class="col-sm-6"> <a href="/{{pin}}/on" class="btn btn-default" role="button">Relay 2 Off</a> </div>
         {% elif (pins[pin].name == "relay5") and (pins[pin].state == true) %}     
               <div class="col-sm-6"> <a href="/{{pin}}/on" class="btn btn-default" role="button">Relay 5 Off</a> </div>
         {% elif (pins[pin].name == "relay2") and (pins[pin].state != true) %}
               <div class="col-sm-6"> <a href="/{{pin}}/off" class="btn btn-primary" role="button">Relay 2 On</a> </div> 
         {% elif (pins[pin].name == "relay5") and (pins[pin].state != true) %}     
               <div class="col-sm-6"> <a href="/{{pin}}/off" class="btn btn-primary" role="button">Relay 5 On</a> </div>
         </div>
             
         {% elif (pins[pin].name == "relay3") and (pins[pin].state == true) %}   
         <div class="row">
               <div class="col-sm-6"> <a href="/{{pin}}/on" class="btn btn-default" role="button">Relay 3 Off</a> </div>
         {% elif (pins[pin].name == "relay6") and (pins[pin].state == true) %}
               <div class="col-sm-6"> <a href="/{{pin}}/on" class="btn btn-default" role="button">Relay 6 Off</a> </div>
         {% elif (pins[pin].name == "relay3") and (pins[pin].state != true) %}  
               <div class="col-sm-6"> <a href="/{{pin}}/off" class="btn btn-primary" role="button">Relay 3 On</a> </div> 
         {% elif (pins[pin].name == "relay6") and (pins[pin].state != true) %}
               <div class="col-sm-6"> <a href="/{{pin}}/off" class="btn btn-primary" role="button">Relay 6 On</a> </div>
         </div> 
         {% endif %}     
   
<!--   {% endfor %} -->
   
</body>

</html>
